In [12]:
from pandas_datareader import data
import fix_yahoo_finance as yf

yf.pdr_override()

In [19]:
symbol = 'AAPL'
start_date = '2010-01-01'
end_date = '2016-01-01'

In [20]:
df = data.get_data_yahoo(symbol, start_date, end_date)
df.head()

[*********************100%***********************]  1 of 1 downloaded

                 Open       High        Low      Close  Adj Close     Volume
Date
2009-12-31  30.447144  30.478571  30.080000  30.104286  20.379293   88102700
2010-01-04  30.490000  30.642857  30.340000  30.572857  20.696495  123432400
2010-01-05  30.657143  30.798571  30.464285  30.625713  20.732277  150476200
2010-01-06  30.625713  30.747143  30.107143  30.138571  20.402506  138040000
2010-01-07  30.250000  30.285715  29.864286  30.082857  20.364788  119282800

In [17]:
qdata = data.DataReader('WIKI/AAPL', 'quandl', start_date, end_date)
qdata.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2015-12-31,107.01,107.03,104.8200,105.26,40912316.0,0.0,1.0,103.387570,103.406893,101.271705,101.696810,40912316.0
2015-12-30,108.58,108.70,107.1800,107.32,25213777.0,0.0,1.0,104.904424,105.020361,103.551815,103.687076,25213777.0
2015-12-29,106.96,109.43,106.8600,108.74,30931243.0,0.0,1.0,103.339263,105.725650,103.242648,105.059007,30931243.0
2015-12-28,107.59,107.69,106.1807,106.82,26704210.0,0.0,1.0,103.947936,104.044551,102.586343,103.204002,26704210.0
2015-12-24,109.00,109.00,107.9500,108.03,13596680.0,0.0,1.0,105.310206,105.310206,104.295750,104.373042,13596680.0